*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
h1{
	text-align: center;
	color: blue;
	font-size: 30px;
}
.topic{
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #000;
}
.h1{
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: rgb(2, 77, 77);
	
}
body{
	background-color: black;
	background-size: cover;
}

form{
	font-family: monospace;
	padding: 20px;
	font-size: 1.5em;
	color: rgb(2, 77, 77);
	font-weight: bold;
}
#for input{
	width: 70%;
	font-size: 20px;
	height: 4%;
	background-color: #ddd;
}
.sub input{
	background-color: #ddd;
	width: 100px;
	height: 50px;
	font-size: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sub input:hover{
	color: rgb(245, 245, 248);
	background-color: blue;
}
input{
	overflow: hidden;
	text-align: center;
	color: #000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
}

.form{
	text-align: center;
	overflow: hidden;
	
}
